# dependencies
node_modules/
.pnp
.pnp.js

# build cache (but commit dist/ for Gitee Pages deployment)
.taro-cache/
.taro_cache/

# misc
.DS_Store
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
